#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	float: left;
	padding: 0;
	border: 0;
	margin: 0;
}

#navbar li a {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	border: 0;
	padding: 1em;
}

#navbar li:nth-child(even) a {
	background: #ddd;
}

#navbar li:nth-child(odd) a {
	background: #eee;
}

#navbar::after {
	content: "";
	clear: both;
	display: block;
}

#navbar li.active a {
	background: #1f386b;
	color: white;
}

/*
vim:ts=2:
*/
